      body {
        margin: 0;
        font-family: sans-serif;
        background-color: #00b5e2;
      }

h1 {
    font-size: 40pt;
    font-family: arial;
    color: black;
    text-align: center;
}

h2 {
    font-size: 30pt;
    font-family: arial;
    color: black;
    text-align: center;
}

      #videoContainer {
        position: relative;
        display: inline-block;
        max-width: 100%;
      }
      video,
      canvas {
        max-width: 100%;
        height: auto;
        display: block;
      }
      #overlay {
        position: absolute;
        left: 0;
        top: 0;
      }

      
    #inputs {
      width: 640px;
      margin: 0 auto 10px;
      display: flex;
      justify-content: space-around;
      font-size: 14px;
      user-select: none;
      align-items: flex-end;
      gap: 10px;
    }

    #inputs div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    label {
      margin-bottom: 4px;
    }

    input {
      width: 80px;
      padding: 4px;
      font-size: 14px;
      text-align: center;
    }

    .new_styled {
border: 0;
line-height: 1.5;
padding: 0 20px;
font-size: 1rem;
text-align: center;
color: 'black';
border-radius: 10px;
background-color: 'rgba(220, 1, 1, 1)';
background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 10px;
      background: white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    th,
    td {
      border: 1px solid #000;
      /* retículas negras */
      padding: 6px 10px;
      text-align: center;
    }

    th {
      background: #0077b6;
      color: white;
    }

    tr:nth-child(even) {
      background: #f1f1f1;
    }

